* 
{
  font-family: 'Poppins', sans-serif;
}
.h-font
{
   font-family: 'Merienda', cursive;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-bg
{
  background-color: #2ec1ac;
}
.custom-bg:hover
{
  background-color: #279e8c;
}
.custom-label
{
  font-weight: 500;
  font-size:
  0.8em;
}
.availability-form
{
  margin-top: -50px;
  z-index: 2;
  position: relative;
}